.row-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 200px;
    img {
        max-height: 150px;
    }
    div {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 5px;
        max-height: 180px;
        width: auto;
        max-width: 40em;
        margin: 5px;
        flex-grow: 1;
        h2 {
            margin: 0 auto;
        }
    }
}

.col-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1100px;
    img {
        height: 90%;
    }
    div {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 5px;
        max-width: 300px;
        margin: 5px;
        flex-grow: 1;

        h2 {
            margin: 0 auto;
        }
    }
}

