//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color: white;
$break-small: 500px;
$focus-color: #aaa;

:root {
    --background: #($body-background-color)
}

body {
    background-color: $body-background-color;
    color: $headlines-color
}

form {
    background-color: $form-background-color;
    color: black;
}

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
        &:focus {
        background-color: $focus-color;
        }
    }
    @media (min-width: $break-small) {
        & {
            width: 90%;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto; 
          } 
    }
    // .flex {
    //     display: flex;
    //     -moz-box-flex: ;
    // }
}
